*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100vh;
    background: #252525;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 21px 159px;
    z-index: 1;
}

.logo,
.search {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.search {
    padding: 10px 48px;
    font-size: 2rem;
}

.images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
}

.img {
    width: 140px;
    height: 300px;
    margin:40px;
    cursor: pointer;
}

.images, .img:hover {
    filter: grayscale(1);
}

.img1 {
    transform: scale(1.1);
    background: url(images/image1.jpg) 50% 50% no repeat;
    background-size: cover;
}
.img2 {
    transform: scale(1.1);
    background: url(images/image2.jpg) 50% 50% no repeat;
    background-size: cover;
}
.img2 {
    transform: scale(1.1);
    background: url(images/image2.jpg) 50% 50% no repeat;
    background-size: cover;
}
.img3 {
    transform: scale(1.1);
    background: url(images/image3.jpg) 50% 50% no repeat;
    background-size: cover;
}
.img4 {
    transform: scale(1.1);
    background: url(images/image4.jpg) 50% 50% no repeat;
    background-size: cover;
}
.img5 {
    transform: scale(1.1);
    background: url(images/image5.jpg) 50% 50% no repeat;
    background-size: cover;
}

























